.call-button{
    position: absolute;
    z-index: 1;
    display:inline-block;
    right: 0;
    margin-right: 4rem;
    color: white;
    width: 5.5rem;
    height: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 5px;
    background-color: gray;
    text-align: center;
    cursor: pointer;
    

    &:hover{
        background-color: lightgray;
        @include transition-ease;
    }

    a{
        text-decoration: none;
        
        &:hover{
            color: black;
            background-color: lightgray;
            @include transition-ease;
        }

    }
    
}