$primary-color: grey;
$secondary-color: lightblue;
$hero-background-image: "/assets/img/stock/paulius-dragunas-cIxcxnwsnoI-unsplash.jpg";
$services-background-image: "/assets/img/stock/plants.jpg";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}