.contact{
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 4vw;
    padding-right: 4vw;
    overflow: scroll;
    align-items: center;
    text-align: center;
    background: white;
    color: darkgray;
    // display:flex;

    a{
        color: gray;
    }

    &__body{
        &--head{
            padding-bottom: 1rem;
        }

        &--content{
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 1rem;
            text-align: left;
            line-height: 1rem;
        }
    }

}