$primary-color: grey;
$secondary-color: lightblue;
$hero-background-image: "/assets/img/stock/paulius-dragunas-cIxcxnwsnoI-unsplash.jpg";
$services-background-image: "/assets/img/stock/plants.jpg";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@function set-text-color($color){
    @if (lightness($color) > 40%) {
        @return #000;
    }@else{
        @return #fff;
    }
}