$primary-color: #404e4d;
$secondary-color: #abe9e4;
$ternary-color: #E3DFFF;
$hero-background-image: "/assets/img/stock/paulius-dragunas-cIxcxnwsnoI-unsplash.jpg";
$services-background-image: "/assets/img/stock/plants.jpg";
$meet-the-therapists_banner: "/assets/img/stock/houses.jpg";
$about_banner: "/assets/img/stock/mountains.jpg";
$covid-updates-background-image: "/assets/img/stock/shoes.jpg";
$jobs-banner-image: "/assets/img/stock/milfordoffice.jpg";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@function set-text-color($color){
    @if (lightness($color) > 40%) {
        @return #000;
    }@else{
        @return #fff;
    }
}

// @mixin media-sm {
//     @media screen and (min-width: 768px){
//         @content;
//     }
// }

@mixin media-md {
    @media screen and (min-width: 768px){
        @content;
    }
}
@mixin media-lg {
    @media screen and (min-width: 1024px){
        @content;
    }
}
@mixin media-xl {
    @media screen and (min-width: 1600px){
        @content;
    }
}