$primary-color: #FFFFFF;
$secondary-color: #D0B8AC;
$ternary-color: #F3D8C7;
$quaternary-color: #FBFEFB;
$quinary-color: #EFE5DC;
$hero-background-image: "/assets/img/stock/cairn_beach_leonhard-niederwimmer-70H8nM0Uels-unsplash.jpg";
$services-background-image: "/assets/img/stock/plants.jpg";
$meet-the-therapists_banner: "/assets/img/stock/houses.jpg";
$about_banner: "/assets/img/stock/holding_hands_pexels-jasmine-carter-888899.jpg";
$covid-updates-background-image: "/assets/img/stock/laptop-call-pexels-anna-shvets-4226262.jpg";
$jobs-banner-image: "/assets/img/stock/milfordoffice.jpg";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@function set-text-color($color){
    @if (lightness($color) > 40%) {
        @return #000;
    }@else{
        @return #fff;
    }
}

// @mixin media-sm {
//     @media screen and (min-width: 768px){
//         @content;
//     }
// }

@mixin media-md {
    @media screen and (min-width: 768px){
        @content;
    }
}
@mixin media-lg {
    @media screen and (min-width: 1024px){
        @content;
    }
}
@mixin media-xl {
    @media screen and (min-width: 1600px){
        @content;
    }
}