.hero{
    height: 80%;
    padding-top: 40vh;
    overflow: scroll;
    align-items: center;
    text-align: center;
    background: 
    linear-gradient(
        to bottom,
        rgba(#000000, 0.5),
        rgba(#000000, 0.5)
    ),
    url($hero-background-image) ;
    background-size: cover;
    background-position: center;

    &__name{    
        color: white;
        font-size: 2rem;
        padding-bottom: 1rem;
        margin-top: 1rem;
    }

    &__tagline{
        color: $quinary-color;
        font-weight: 700;
    }
    
    
}

.covid-info{

    &__button{
        color: white;
        width: 10rem;
        height: 2rem;
        border: none;
        border-radius: 5px;
        background-color: gray;

        &:hover{
            color: black;
            background-color: lightgray;
            @include transition-ease;
        }
    }
}

