.meet{
    color: white;

    &__head{
        height: 40vh;
        color: white;
        padding: 2rem;
        background: 
            linear-gradient(
                to bottom,
                rgba($primary-color, 0.8),
                rgba($primary-color, 0.8)
            ),
            url($meet-the-therapists_banner) ;
            background-size: cover;
            
            h1 {
                font-size: 2.5rem;
                padding-bottom: 1rem;
            }
            p{
                // padding-top: 2rem;
                color: white;
                font-size: 1rem;
                line-height: 1.5rem;
            }

    }
    
    
    &__list{
        // padding-top: 1rem;
        

        ul{
            list-style-type: none;
            line-height: 1.5rem;

            padding: 1rem;

            li {
                word-break: break-all;
            }
        }
    }

}
