.services-offered{
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 4vw;
    padding-right: 4vw;
    overflow: scroll;
    align-items: center;
    text-align: center;
    background: 
    linear-gradient(
        to bottom,
        rgba(black, 0.6),
        rgba(black, 0.3)
    ),
    url($services-background-image) ;
    background-size: cover;

    &__head {
        font-size: 2rem;
        color: white;
        padding-bottom: 1vh;
    }

    &__body{
        padding-bottom: 1rem;
        line-height: 1.25rem;
    }

    ul{
        padding-left: 1rem;
        text-align: left;
        columns: 2;
        line-height: 1.5rem;

        li{
            padding-right: 0.3rem;
        }
    }

}