.therapist {    
    color: set-text-color($primary-color);
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    background: white;
    background-color: $primary-color;

    &__buttons{
        display: flex;
        width: 100%;
        color: white;
        height: 5vh;
        padding-top: 7vh;
        padding-bottom: 5vh;

        &--previous{
            width: 50%;
            &__arrow{
                // content: "";
            padding: 8px 16px;
            background: grey;
            border-radius: 50%;

                &:hover{
                    background-color: white;
                    color: black;
                }
            }
        }

        &--next{
            position: absolute;
            // width: 50%;
            right: 0;

            &__arrow{
                // content: '';
            padding: 8px 16px;
            margin-right: 5vh;
            background: grey;
            border-radius: 50%;

                &:hover{
                    background-color: white;
                    color: black;
                }
            }
        }
        
    }

    &__summary{
        width: 60vw;
        &--photo{
            height: 20vh;
        }
        
    }

    &__bio{
        display: flex;
        padding-top: 1rem;
        margin-block-end: 2rem;
        
    }
    h2{
        font-size: 1.5rem;
    }
    
    p{
        line-height: 1.25rem;
    }

    ul{
        padding-top: 1rem;
        padding-left: 2rem;
        padding-bottom: 2rem;
        
    }


}