@import 'config';
@import 'hero';
@import 'pitch';
@import 'services';
@import 'contact';
@import 'menu';
@import 'therapist';
@import 'meet-the-therapists';
@import 'about';
@import 'covid';
@import 'call';

body {
    background-color: $primary-color;
    color: set-text-color($primary-color);
    height: 100vh;
    font-family: 'Brygada 1918', serif;
    line-height: 1;
}

h1,h2,h3 {
    font-weight: 400;
}

a {
    color: white;
    text-decoration: none;
    

    &:hover{
        color: set-text-color(black);
        @include transition-ease;
    }
}

header {
    position: fixed;
    width: 100%;
    padding: 1rem;

    .logo{
        height: 15vh;
        padding: 0.5rem;
        align-self: left;
        background-color: rgba(white, 0.4);
    }

    
}
    
main {
    height: 100%;
    width: 100%;

    a{
        padding: 0.4rem;
        
        &:hover{
            color: $secondary-color
        }

    
    }

    footer {
        font-size: 1rem;
        position: fixed;
        bottom: 0.4rem;
        right: 1rem;
        text-align: right;
        padding: 1rem;
        color: set-text-color($primary-color)   
    }
}
