---
layout: default
---
<div class="therapist">
    <div class= "therapist__nav">
    {%if page.previous.url != nil%}
        <div class="therapist__nav--previous">
            <a href="{{page.previous.url}}" class="therapist__nav--previous__arrow">&#8249;</a>
            <span>{{page.previous.name}}</span>
        </div>
    {% endif %}
    {% if page.next.url != nil%}
        <div class="therapist__nav--next">
            <span>{{page.next.name}}</span>
            <a href="{{page.next.url}}" class="therapist__nav--next__arrow">&#8250;</a>
        </div>
    {% endif %}
 
    </div>
    <div class="therapist__summary">
        <img class="therapist__summary--photo" src="/assets/img/therapists/{{ page.photo }}"/>
        <h2 class="therapist__summary--name">{{page.full_name}}</h2>
        
    </div>
    {{ content }}

</div>